@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
::-webkit-scrollbar{ /*para esconder a barra de rolagem que acabou aparecendo*/
    width: 0px;
    height: 0px;
}
html, body{
    height: 100vh;
    width: 100vw;
    background-color: black;
}
body{
    background: url('../imagens/fundo-madeira.jpg') no-repeat top center; /*Configuração para imagem que está em outra pasta "no-repeat" para não repetir e "top center" para centralizar a cima*/
    background-size: cover; /*para cobrir a tela toda*/
    background-attachment: fixed; /*para fixar na tela*/
}
main{/*estas são as cpnfg. do conteiner de fora*/
    position: relative;
    height: 100vh; 
}
section#telefone{ /*estas são as cpnfg. do conteiner de dentro*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /*aqui eu coloque  transform de -50% para centralizar o top e o left que são as duas configues a cima*/

    height: 627px; /*para saber ao Certo a altura e largura da imagem eu posso abrir ela no gimp e ver nas propriedades da imagem*/
    width: 311px;
    background: url('../imagens/frame-iphone.png') no-repeat; /*aqui em url para a imagem coloquei entre aspas simples, e ja que as imagens estão armazanadas dentro de outra pasta eu tinha que volta duas vezes colocando "../" só depois disso aparecera as opiçoes para colocar a imagem desejada*/
}
iframe#tela{/*estas config são para posicionar a imagem dentro do telefone*/
    position: relative;
    top: 80px;
    left: 22px;
    width: 267px;
    height: 471px;
}
section#redes-sociais{
    text-align: right; /*pára a coluna de botões se posicionar à direita da tela*/
}
section#redes-sociais img{ /*para fazer alterações nas imagens dos botões*/
    width: 50px; /*para deixar os logos pequenos*/
    margin: 15px; /*para dar um espeço entre eles*/
    border-radius: 20%; /*para arredondar os botões em 50% deixaria redondo*/ 
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.600); /*sombra*/
    box-sizing: border-box; /*esta config serve para qundo eu passar o muse sobre o icone ele não se mover e ajudar no destaque*/
}
section#redes-sociais img:hover{
    border: 2px solid rgba(228, 219, 219, 0.6); /*para quando eu passar o muse em cima do botão ele destacar na cor branca*/
    transform: translate(-3px, -3px); /*confg. para botão fazer uma pequena animação (tipo levantar) */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.719); /*ja que o botão vai ter animção assim qua ele levantar a sombra tem que destacar mais uma pouco */
    transition: transform 0.5s, border 0.5s; /*para dar uma Suavização na animação ao passar o mouse em cima dos botões e na borda tambem*/
} 